.fa-magnifying-glass-plus{
    color: #0073ff;

}

.fa-magnifying-glass-minus{
    color: red;
}

.color_div{
    margin-top: 60px;
    display: flex;
    column-gap: 10px;
}

.Red{
    color: red;
}

.Blue{
    color: blue;
}

.Green{
    color: green;
}

.statia {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lorem{
    width: 70%;
}