:root {
    --background_color: #1f2460;
    --wite: #d5dbff;
    --Transparent_wite: #d5dbff7b;
    --more_black: #000431;
    --black: #000751;
}

body {
    background-color: var(--background_color);
}

.backgroundLogin,
.backgroundLogin2 {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #00000086;
    display: none;
    justify-content: center;
    align-items: center;
}

.login_window, .login_window2 {
    z-index: 2;
    margin: auto;
    position: fixed;
    width: 370px;
    height: 500px;
    background-color: white;
    display: grid;
    grid-template-columns: 23fr 1fr;
    grid-template-rows: 1fr 15fr;
    grid-column-gap: 40px;
    grid-row-gap: 15px;
}

.sign_up_h1 {
    margin: auto;
    padding-left: 50px;
    grid-area: 1 / 1 / 2 / 2;
    font-size: 28px;
    font-weight: 900;
}

.x {
    margin-top: 8px;
    margin-right: 8px;
    cursor: pointer;
    grid-area: 1 / 2 / 2 / 3;
}

.login_window_form {
    grid-area: 2 / 1 / 6 / 3;
    display: flex;
    flex-direction: column;
    gap: 60px 0;
}

.container {
    max-width: 1440px;
    width: 100%;
    max-height: 2000px;
    height: 100%;
    margin: auto;
    padding-top: 40px;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 0px;
}

header,
.header_nav {
    max-width: inherit;
    width: inherit;
    height: 40px;
    padding: 0 18px 0 18px;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_nav {
    background: linear-gradient(var(--background_color), var(--background_color)) padding-box, linear-gradient(90deg, var(--background_color), var(--wite), var(--background_color)) border-box;
    border-width: 0 0 3px 0;
    border-style: solid;
    border-color: transparent;
}

.logo {
    font-size: 30px;
    color: var(--wite);
}

.sign {
    padding: 4px 8px;
    background: linear-gradient(var(--background_color), var(--background_color)) padding-box, linear-gradient(-50deg, var(--black), #092d80, #721cbd) border-box;
    border-width: 3px;
    border-style: solid;
    border-color: transparent;
    border-radius: 30px;
    color: var(--wite);
}

aside {
    left: 0;
    height: 100%;
    background-color: var(--black);
    grid-area: 1 / 1 / 2 / 2;
    border-right: var(--Transparent_wite) solid 2px;
}

.mainTxt2 {
    position: fixed;
    width: 100%;
    max-width: 276px;
    height: 30px;
    color: var(--wite);
    background-color: var(--more_black);
    font-size: 25px;
    font-weight: 900;
    margin-bottom: -20px;
    padding: 0 8px 0 4px;
}

.aside_nav {
    padding: 30px 8px 25px 4px;
    width: 100%;
    max-width: 280px;
    width: 19.5%;
    display: flex;
    flex-direction: column;
    position: fixed;
}

.mainTxt {
    width: 100%;
    height: 30px;
    color: var(--wite);
    font-size: 20px;
}

.mainTxt:hover {
    background-color: #d5dbff27;
}

.main {
    background: linear-gradient(var(--black), var(--black)) padding-box, linear-gradient(90deg, var(--wite), var(--background_color)) border-box;
    border-width: 0 0 3px 0;
    border-style: solid;
    border-color: transparent;
}

.section1 {
    margin-top: 20px;
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px 0;
    background-color: var(--black);
    border: var(--Transparent_wite) solid 2px;
    border-radius: 8px;
    padding: 60px;
    margin-bottom: 60px;
}

.sec1 {
    padding: 0 0 60px;
}

.Popular_Threads {
    text-align: center;
    width: 100%;
    height: 30px;
    background-color: var(--more_black);
    color: var(--wite);
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0.4em 0.4em 0 0;
}

.Popular_Threads_Show_more {
    margin-right: 8px;
    color: var(--wite);
    font-size: 15px;
}

.hello {
    color: var(--wite);
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: 600;
}

.ipsum {
    text-align: center;
    color: var(--wite);
}