:root {
    --background_color: #1f2460;
    --wite: #d5dbff;
    --Transparent_wite: #d5dbff7b;
    --more_black: #000431;
    --black: #000751;
    --background_orange: #342304;
}

body {
    background-color: var(--background_color);
}

.backgroundLogin,
.backgroundLogin2 {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #00000086;
    display: none;
    justify-content: center;
    align-items: center;
}

.login_window, .login_window2 {
    z-index: 2;
    margin: auto;
    position: fixed;
    width: 370px;
    height: 500px;
    background-color: white;
    display: grid;
    grid-template-columns: 23fr 1fr;
    grid-template-rows: 1fr 15fr;
    grid-column-gap: 40px;
    grid-row-gap: 45px;
}

.sign_up_h1 {
    margin-top: 14px;
    margin: auto;
    padding-left: 50px;
    grid-area: 1 / 1 / 2 / 2;
    font-size: 38px;
    font-weight: 900;
}

.x {
    margin-top: 8px;
    margin-right: 8px;
    font-size: 20px;
    border-radius: 100%;
    padding: 0 8px;
    background-color: white;
    border: none;
    cursor: pointer;
    grid-area: 1 / 2 / 2 / 3;
}

.x:hover {
    background-color: #d6d6d6;
}

.login_window_form {
    grid-area: 2 / 1 / 6 / 3;
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 30px 0;
}

.label_p {
    color: red;
    margin-left: 10px;
    display: none;
}

.form_a {
    color: #0091ff;
}

.form_a:hover {
    color: #00508d;
}

.sign_up_input {
    width: 100%;
    padding: 15px 8px;
    margin-top: 5px;
    border-radius: 20px;
    border: none;
    outline: none;
    background-color: var(--wite);
}

.checkbox {
    accent-color: #0091ff;
}

.inputError {
    width: 100%;
    outline: none;
    padding: 15px 8px;
    border-radius: 20px;
    border: red solid 3px;
    background-color: var(--wite);
}

.container {
    max-width: 1440px;
    width: 100%;
    max-height: 2000px;
    height: 100%;
    margin: auto;
    padding-top: 40px;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 0px;
}

.cont2 {
    grid-template-rows:330px 1fr;
    grid-column-gap: 0;
}

header,
.header_nav {
    max-width: inherit;
    width: inherit;
    height: 40px;
    padding: 0 18px 0 18px;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_nav {
    background: linear-gradient(var(--background_color), var(--background_color)) padding-box, linear-gradient(90deg, var(--background_color), var(--wite), var(--background_color)) border-box;
    border-width: 0 0 3px 0;
    border-style: solid;
    border-color: transparent;
}

.logo {
    font-size: 30px;
    color: var(--wite);
}

.sign {
    padding: 6px 14px;
    background-color: orange;
    font-size: 15px;
    font-weight: 800;
    border-radius: 30px;
    color: #342304;
    border: none;
    cursor: pointer;
}

.sign:active {
    background-color: #855600;
}

.sign1 {
    width: 60%;
    margin: 60px auto;
    padding: 10px 14px;
}

aside {
    left: 0;
    height: 100%;
    background-color: var(--black);
    grid-area: 1 / 1 / 3 / 2;
    border-right: var(--Transparent_wite) solid 2px;
}

.mainTxt2 {
    position: fixed;
    width: 100%;
    max-width: 276px;
    height: 30px;
    color: var(--wite);
    background-color: var(--more_black);
    font-size: 25px;
    font-weight: 900;
    margin-bottom: -20px;
    padding: 0 8px 0 4px;
}

.aside_nav {
    padding: 30px 8px 25px 4px;
    width: 100%;
    max-width: 280px;
    width: 19.5%;
    display: flex;
    flex-direction: column;
    position: fixed;
}

.mainTxt {
    width: 100%;
    height: 30px;
    color: var(--wite);
    font-size: 20px;
}

.mainTxt:hover {
    background-color: #d5dbff27;
}

.main {
    background: linear-gradient(var(--black), var(--black)) padding-box, linear-gradient(90deg, var(--wite), var(--background_color)) border-box;
    border-width: 0 0 3px 0;
    border-style: solid;
    border-color: transparent;
}

.section1 {
    margin-top: 20px;
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px 0;
    background-color: var(--black);
    border: var(--Transparent_wite) solid 2px;
    border-radius: 8px;
    padding: 60px;
    margin-bottom: 60px;
}

.user_container{
    display: flex;
    align-items: end;
    margin: 20px 0 0 20px;
}

.add_img {
    color: #000;
}

.userimg {
    width: 95px;
    height: 95px;
    border-radius: 100%;
    background-color: var(--wite);
}

/* .userimg2 {
    min-width: 500px;
    min-height: 500px;
} */

.sec1, .sec2 {
    padding: 0 0 60px;
    align-items: start;
}

.sec2 {
    margin-top: 0;
}

.Popular_Threads {
    text-align: center;
    width: 100%;
    height: 30px;
    background-color: var(--more_black);
    color: var(--wite);
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0.4em 0.4em 0 0;
}

.Popular_Threads_Show_more {
    margin-right: 8px;
    color: var(--wite);
    font-size: 15px;
}

.hello {
    color: var(--wite);
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: 600;
}

.user {
    font-size: 25px;
    margin: 20px 0 60px 40px;
}

.random_container {
    display: flex;
    gap: 20px;
}

.post_container {
    width: 60%;
}

#postsInput {
    width: 80%;
    resize: none;
}

#randomButtons, #randomButtons2, #randomButtons3, #randomButtons4 {
    display: none;
}

.ipsum {
    text-align: center;
    color: var(--wite);
}

.section2 {
    margin: 10px 0 60px 0;
    grid-area: 2 / 2 / 2 / 3;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px 0;
    background-color: var(--black);
    border: var(--Transparent_wite) solid 2px;
    border-radius: 8px;
    padding: 60px;
}

.post_text {
    max-width: 100%;
    font-size: 25px;
    margin: 20px 0 60px 40px;
    display: flex;
    flex-wrap: wrap;
}